<html lang="en">
<head>      
  <body>  
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="card hovercard">
          <div class="cardheader"></div>
            <div class="avatar">
              <% if current_user.avatar.present? %> 
                <%= image_tag current_user.avatar_url(:thumb) %>
                  <% else %>
                    
                <% end %>
            </div>
            <div>
              Name:-<%= @user.first_name.capitalize %>&nbsp;<%= @user.last_name.capitalize %><br>
              Email:-<%= @user.email%><br>
              Role:-<%= @user.role.capitalize %><br>
              Age:-<%= @user.age %><br>
              Level Of Education:-<%= @user.level_of_education %><br>
              Concentration:-<%= @user.concentration %><br>
              Institution_of_Education:-<%= @user.institution_of_education %><br>
              Location:-<%= @user.location %><br>
              Race:-<%= @user.race %><br>
              Employment_Status:-<%= @user.employment_status %><br>
              User_name:-<%= @user.username %><br>
              Bio:-<%= @user.bio %><br>
            </div>
          </div>
        </div>
      </div>
      <% if @user == current_user %>
        <div class="field" >
          <%= link_to "Update", edit_user_registration_path %>|
          <%= link_to "Back", :back %>
        </div> 
      <% end %>
    </div>
  </body>
</head>
</html>


<!-- <style type="text/css">
  .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 70%;
    -moz-border-radius: 50%;
    border-radius: 60%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
  }
</style> -->