<div class="text-center">
  <br><%= form_tag(subjects_path, :method => "get") do %>
    <%= text_field_tag :term, params[:term], placeholder: "Search for course you want to learn",:size=>"31x15" %>
    <%= submit_tag "Search", name: nil %>
  <% end %><br /><br />
</div>

<div class="row">
  <% @subjects.each do |subject| %>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <%=link_to (image_tag subject.avatar, size: "200x200"), subject_path(subject) %><br />
            Course Name: <%= subject.name %><br />
            Author Name: <%= current_user.first_name %><%= current_user.last_name %><br /><br /><br />
      </div>
  <% end %> 
</div>
  