<footer class="footer table table-striped">
  <div class="container-fluid padding-none">
    <div class="row">
      <div class="col-md-12">
        <nav id="list" class="text-left">


          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-3"><h2 class="pull-left"> Teach or Learn </h2></div>
                <div class="col-md-5"><ul id="menu" class="list-inline text-center">
                  <li class="list-inline-item"><%= link_to "ABOUT", about_path %></li>
                  <li class="list-inline-item"><%= link_to "DONATE", root_path %></li>
                  <li class="list-inline-item"><%= link_to "CONTACT", root_path %></li>
                  <li class="list-inline-item"><%= link_to "HELP", root_path %></li><br>
                  <li class="list-inline-item"><%= link_to "PRIVACY", root_path %></li>
                  <li class="list-inline-item"><%= link_to "FAQ's", root_path %></li>
                  <li class="list-inline-item"><%= link_to "BLOG", root_path %></li>
                  <li class="list-inline-item"><%= link_to "NEWS", root_path %></li><br>
                  <li class="list-inline-item"><%= link_to "SITEMAP", root_path %></li>
                  <li class="list-inline-item"><%= link_to "CAREERS", root_path %></li>
                  <li class="list-inline-item"><%= link_to "TERMS", root_path %></li>
                </ul></div>
                <div class="col-md-4"><div class="footer-social-icons">
                  <ul class="social-icons">
                    <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>   
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>

<style type="text/css">


@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.padding-none {
  padding:0;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  margin-top: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em; 
}

.footer-social-icons {
    width: 250px;
    display:block;
    padding-left: 40px;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #000ff;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}


.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

  
  ul#menu li {
    display:inline;
    padding-right: 30px;
  }
  ul#list {
    position: absolute;
    bottom:0px;
    width: 400px;
    height: 10px;
  }

</style>