<header>
  <div class="header-content table-inverse">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav">
            <ul class="list-inline">
              <li class="list-inline-item"><h3 class="brand" href="#">Teach Or Learn</h3></li>&nbsp;&nbsp;&nbsp;
              <li class="list-inline-item">
              <div class="text-center">
                <%= form_tag(subjects_path, :method => "get") do %>
                  <%= text_field_tag :term, params[:term], placeholder: "What would you like to teach/learn today",:size=>"31x15" %>
                  <%= submit_tag "Search", name: nil %>
                <% end %>
              </div></li>
              <% if signed_in? %>
                <li class="list-inline-item"><%= link_to "profile", user_profile_path(current_user) %>
                <li class="list-inline-item"><%= link_to "log out", destroy_user_session_path, method: :delete %>
              <% else %>
                <li class="list-inline-item"><%= link_to "login" , new_user_session_path %></li>
                <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#myModal">sign up</a></li>
              <% end %>
              <li class="list-inline-item dropdown ">
              <a href="/subjects" class="dropdown-toggle " data-toggle="dropdown">Courses</b></a>
              <ul id="dropdown-menu" class="dropdown-menu">
                <li><a href="/subjects">Dropdown 1</a></li>
                <li><a href="/subjects">Dropdown 2</a></li>
                <li><a href="/subjects">Dropdown 3</a></li>
                <li><a href="/subjects">Dropdown 4</a></li>
                <li><a href="/subjects">Dropdown 5</a></li>
              </ul></li>&nbsp;&nbsp;&nbsp;
              
              <li class="dropdown list-inline-item">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                <ul id="dropdown-menu" class="dropdown-menu">
                  <li><a href="#">Dropdown 1</a></li>
                  <li><a href="#">Dropdown 2</a></li>
                  <li><a href="#">Dropdown 3</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Dropdown 4</a></li>
                  <li><a href="#">Dropdown 5</a></li>
                </ul>
              </li>

              <li class="list-inline-item dropdown ">
              <a href="#" class="dropdown-toggle " data-toggle="dropdown">About</b></a>
              <ul id="dropdown-menu" class="dropdown-menu">
                <li><a href="/about">About Page</a></li>
                <li><a href="/about">Impact Page</a></li>
                <li><a href="/about">Team Page</a></li>
                <li><a href="/about">Partners</a></li>
                <li><a href="#">Volunteer</a></li>
                <% if signed_in? %>
                <li><a href="/donates/new">Donate</a></li>
                <% end %>
                <li><a href="/about">Blog</a></li>
                <li><a href="/helps/new">Help</a></li>
                </ul></li>&nbsp;&nbsp;&nbsp;
              </ul>
              <li class="list-inline-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= t('menu.languages.lang') %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <%= link_to t('menu.languages.english'), change_locale_path(:en) %>
                  </li>
                  <li>
                    <%= link_to t('menu.languages.rushian'), change_locale_path(:ru) %>
                  </li>
                  <li>
                    <%= link_to t('menu.languages.latin'), change_locale_path(:lt) %>
                  </li>
                  <li>
                    <%= link_to t('menu.languages.french'), change_locale_path(:fr) %>
                  </li>
                </ul>
              </li>


              
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>  </div> <!-- Collect the nav links, forms, and other content for toggling --> <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> <ul class="nav navbar-nav"> <li class="active"><a href="/notifications">Notifications <span class="sr-only">(current)</span></a></li> <li><a href="/users/edit">Profile</a></li><ul class="nav navbar-nav navbar-right"> <li><a href="/surveys/new">create class</a></li> <ul class="nav navbar-nav navbar-right"> <li><a href="/subjects">join class</a></li><ul class="nav navbar-nav navbar-right"> <li><a href="/users/:id/educator_courses">my class</a></li><ul class="nav navbar-nav navbar-right"> <li><a href="/helps/new">Help</a></li><ul class="nav navbar-nav navbar-right"> <li><a href="#">settings</a></li><ul class="nav navbar-nav navbar-right"> <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>

            </ul>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!--/.container-->
    </div><!-- /navbar-inner -->
  </div>
</header><!--/header-->